{namespace form=Neos\Form\ViewHelpers}
<f:layout name="Neos.Form:Field" />
<f:section name="field">
    <f:if condition="{element.properties.userSelect}">
        <f:then>
            <f:if condition="{element.properties.recipientLists}">
                <f:form.select property="{element.identifier}" id="{element.uniqueIdentifier}" options="{element.properties.recipientLists}" optionLabelField="name" class="{element.properties.elementClassAttribute}" errorClass="{element.properties.elementErrorClassAttribute}" />
            </f:if>
        </f:then>
        <f:else>
            <f:form.hidden property="{element.identifier}" id="{element.uniqueIdentifier}" value="{element.properties.recipientList}" />
        </f:else>
    </f:if>
	<f:if condition="{element.properties.inBackend}">
		<code>
			<strong>You need the following properties (IDs) in your form:</strong>
			<ul>
				<li><strong>firstname</strong> (maybe a single text input)</li>
				<li><strong>lastname</strong> (maybe a single text input)</li>
				<li><strong>email</strong> (maybe a single text input</li>
				<li><strong>acceptDirectMail</strong> (maybe a checkbox)</li>
			</ul>
		</code>
	</f:if>
</f:section>
